{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block main %}
{% if user.is_authenticated %}
    <script language="javascript" type="text/javascript"> window.location.href="/";</script>
{% else %}
    <div class="container" style="width:450px">
    <br><br><br><h2><img src="/static/img/logo.png"style="width:13%">&nbsp;&nbsp;&nbsp;网站监控平台Beta</h2><br>

  <div class="card">
    <div class="card-header"><h4>注册你的帐户</h4></div>
    <div class="card-body">
      <form action={% url 'reg' %} method="post">
        <div>Username*
        <input type="text" class="form-control"  name="user_name"></div><br>
        <div>E-mail*
        <input type="text" class="form-control"  name="user_mail"></div><br>
        <div>Password*
        <input type="text" class="form-control"  name="user_password"></div><br>
        <div>Password*
        <input type="text" class="form-control"  name="second_password"></div><br>
        <div>Invite Code*
        <input type="text" class="form-control"  name="invite_code"></div><br>
      {% csrf_token %}
      <button type="submit" class="btn btn-primary btn-block">注册</button>
      </form>
      {% autoescape off %}
      {{ return_info }}
      {% endautoescape %}
      </div>
    </div></div>
    </div>
{% endif %}
{% endblock %}
